@import "tailwindcss";

:root {
  --background: #fafafa; /* bg-zinc-50 */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
}

body {
  /* прокрашиваем safe-area (Dynamic Island / notch зоны) */
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  font-family: Arial, Helvetica, sans-serif;
}